/*maps*/
.principal {
  font-size: 35px; }

.info {
  font-size: 25px; }

.infoFinal {
  font-size: 20px; }

header .encabezado .encabezado__listaMenu, .info, .infoFinal, footer .encabezado .encabezado__listaMenu {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  text-align: center; }

.principal p, .info .iconos p, .infoFinal p {
  color: black;
  font-family: 'Mali', cursive;
  font-weight: bold;
  margin: 10px;
  font-size: 15px; }

.info .iconos h3, .infoFinal section h4, .infoFinal label, .infoFinal .iconos h4 {
  color: #159374;
  align-content: center;
  font-size: bold;
  margin: 10px 5px;
  padding: 5px;
  font-family: 'Amatic SC', cursive; }

header .encabezado {
  background-color: white;
  background-image: linear-gradient(to left, white 0%, #159374 50%, white 100%); }
  header .encabezado .encabezado__listaMenu {
    font-family: "Amatic SC", cursive;
    list-style: none; }
    header .encabezado .encabezado__listaMenu .encabezado__listaMenu__item a {
      text-decoration: none;
      color: #f8beb4;
      font-weight: bold;
      font-size: 30px; }
      header .encabezado .encabezado__listaMenu .encabezado__listaMenu__item a:hover {
        background-color: #d1efc6;
        color: #145c8d;
        border-radius: 10px; }

.principal h1 {
  color: #0e635e;
  text-align: center;
  font-family: 'Dancing Script', cursive; }

.principal p {
  text-align: center; }

.info .iconos a {
  color: #d5436f; }

.infoFinal .iconos a {
  color: #d5436f; }

footer .encabezado {
  background-color: white;
  background-image: linear-gradient(to left, white 0%, #159374 50%, white 100%); }
  footer .encabezado .encabezado__listaMenu {
    font-family: "Amatic SC", cursive;
    list-style: none; }
    footer .encabezado .encabezado__listaMenu .encabezado__listaMenu__item a {
      text-decoration: none;
      color: #f8beb4;
      font-weight: bold;
      font-size: 30px; }
      footer .encabezado .encabezado__listaMenu .encabezado__listaMenu__item a:hover {
        background-color: #d1efc6;
        color: #145c8d;
        border-radius: 10px; }
