/*mapas*/
.principalTitle {
  font-size: 40px; }

.title {
  font-size: 20px; }

.littleTitle {
  font-size: 20px; }

.pregunta p, .container p {
  color: black;
  font-family: 'Mali', cursive;
  font-size: 15px;
  text-align: center; }

.pregunta .title {
  color: #149073;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  margin: 5% 0;
  text-align: center; }

.seguinos h3, .container .iconos h3 {
  color: #005f89;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  text-align: center; }

.container {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 20px; }

.container a {
  color: #d5436f;
  margin: 10px;
  font-size: 20px; }

* {
  box-sizing: border-box;
  margin: 0; }

.logo {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  width: 120px; }

.principalTitle h1 {
  color: #0e635e;
  filter: brightness(1.1);
  font-family: 'Dancing Script', cursive;
  mix-blend-mode: multiply;
  text-align: center;
  width: 100%;
  animation-name: fondoPrincipal;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-delay: 5s; }

@keyframes fondoPrincipal {
  0% {
    color: #149073; }
  25% {
    color: #69c47c; }
  50% {
    color: #146580; }
  75% {
    color: #f2c887; }
  100% {
    color: #f6b59f; } }

.seguinos {
  color: #d5436f;
  font-weight: bold;
  text-align: center;
  margin: 10%;
  font-size: 25px; }
