%fleboxRow{
    display: flex;
    justify-content: space-between;
    margin:3%;
    text-align:center;
}
%parrafos{
    color: black;
    font-family: 'Mali', cursive;
    font-weight: bold;
    margin: 10px;
    font-size: 15px;
}
%secciones{
    color:#159374;
    align-content: center;
    font-size: bold;
    margin: 10px 5px;
    padding: 5px;
    font-family: 'Amatic SC', cursive;
}