
section{
    .parrafoCosto{
        color:#6a496e;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        margin-top: 50px;
        font-weight: bold;
        font-size: 18px;
    }
}
.mapa{
    margin: 3em auto;
    width: 300px;
    height: 300px;
    outline:2px solid #6a496e;
    iframe{
        width: 100%;
        height: 100%;
    }
}
table{
    border: 2px solid;
    color:black;
    font-size: 10px;
    margin: 20% 0%;
    th{
        background-color:#e2e2e2;
        border: 1px solid black;
        color:#d5436f;
        text-align: center;
    }
    tr td {
        border: 1px solid;
        color: black;
        @extend %parrafos;
    }
}

@media only screen and (min-width: 971px){
    .gallery{
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 300px;
    }
    table{
        width:80%;
        margin: auto;
    }
    th {
        font-size:15px;
    }
    tr td {
        font-size:15px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 971px){
    .gallery{
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 300px;
    }
    table{
        width:80%;
        margin: auto;
    }
    th {
        font-size:15px;
    }
    tr td {
        font-size:15px;
    }
}
