
section{
    .parrafoCosto{
        @extend %parrafos;
        margin:20px;
    }
}
.mapa{
    margin: 3em auto;
    width: 300px;
    height: 300px;
    outline:2px solid $color4;
    iframe{
        width: 100%;
        height: 100%;
    }
}
table{
    border: 1px solid $color6 ;
    font-size: 10px;
    margin:auto 10px;
    th{
        background-color:$color5;
        border: 1px solid $color6;
        color:$color4;
        text-align: center;
    }
    tr td {
        border: 1px solid;
        @extend %parrafos;

    }
}

@media only screen and (min-width: 971px){
    table{
        width:80%;
        margin: auto;
    }
    th {
        font-size:15px;
    }
    tr td {
        font-size:15px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 971px){
    table{
        width:80%;
        margin: auto;
    }
    th {
        font-size:15px;
    }
    tr td {
        font-size:15px;
    }
}
