
.tienda{
    text-align: center;
    .contenedor{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        .materiales{
            margin:20px;;
        }
    }
}

h4{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color:indianred;
}
.materiales img{
    width:180px;
    height: 180px;
    border-radius: 50px;
    border: 5px solid #0c8387;
    animation-name: materialesReciclados;
    animation-duration: 1.5s;
    animation-timing-function: ease;

    @keyframes materialesReciclados{
        from{
            transform: translate(-50%);
            opacity: 0;
        }
        to {
            transform: translate(0%);
            opacity: 1;
        }
    }
}

.principalTitle{
        p{
            @extend %parrafos;
            font-size:15px;
    }
}
