
.tienda{
    text-align: center;
    .contenedor{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        .materiales{
            margin:20px;;
        }
    }
}

h4{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    color:$color4;
}
.materiales img{
    width:180px;
    height: 180px;
    animation-name: materialesReciclados;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    border:1px solid $color4;
    border-radius: 20px;

    @keyframes materialesReciclados{
        from{
            transform: translate(-50%);
            opacity: 0;
        }
        to {
            transform: translate(0%);
            opacity: 1;
        }
    }
}
.principalTitle{
        p{
            @extend %parrafos;
            font-size:16px;
    }
}
