
%parrafos{
    color: black;
    font-family: 'Mali', cursive;
    text-align: center;
}
%tituloMedio{
    color: #149073;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    margin:5% 0;
    text-align: center;
}
