$encabezado-1:white;
$fuente:'Amatic SC', cursive;
$iconos:#d5436f;
$encabezado-2:#159374;
$titulo:#0e635e;
$navegador-texto:#f8beb4;


$headings:(
    h1: 40px,
    h2: 30px,
    h3: 25px,
    h4:20px,
);

.principalTitle{
    font-size: map-get($headings, h1 );
}
.title{
    font-size: map-get($headings, h2 );
}


