
$color1:#5bcaab;
$color2:#0c8387;
$color3:#0e635e;
$color4:#6a496e;
$color5:#c0b5b5;
$color6:#080808;
$color7:#f2c887;
$color8:#ffffff;



/*mapas*/

$headings:(
    h1: 40px,
);

.principalTitle{
    font-size: map-get($headings, h1 );
}

